.hero-image {
  background-image: url("imgs/hero_image.jpg");
  background-size: cover;
  height: 100vh; /* Adjust height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  background-position: center;
  background-color: purple;
  background-blend-mode: color-burn;
}
.hero-heading {
  font-size: 3rem;
  font-weight: bold;
}

.call-to-action{
    height: 50px;
    width: 180px;
    background-color:#5C27C6ff;
    border-color: #000080ff;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 30px;
}
.call-to-action:hover{
    background-color: #000080ff;
}